{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Details</title>
</head>
<body>
    <div style="background-color: #f2f2f2; padding: 20px;">
        <!-- Site Logo -->
        {% comment %} <div style="text-align: center;">
            <img src="img\motors.png" alt="Sparx Motors Logo" style="max-width: 200px;">
        </div> {% endcomment %}

        <h1 style="color: red; text-align: center;">Sparx Motors</h1>
        <p style="color: #555; text-align: center;">Hello, Welcome to Our Family</p>
        <hr>
        <h2 style="color: skyblue;">Your Login Information</h2>
        <p><strong>Employee id:</strong> {{ id }}</p>
        <p><strong>Username:</strong> {{ username }}</p>
        
        <p><strong>Email Id:</strong> {{ email }}</p>
        <p><strong>Password:</strong> {{ password }}</p>
        <hr>
        <p style="color: #555; text-align: center;">Thank you!</p>

        <!-- Site Link -->
        <div style="text-align: center;">
            <p>Visit our site: <a href="https://www.yoursite.com" style="color: #333; text-decoration: none;">Sparx Motors</a></p>
        </div>
    </div>
</body>
</html>